<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--
    id与对应接口的某个对应的方法名一致
    mybatic还有其他标签(如<inert><delete>等)，找本书慢慢学
-->
<mapper namespace="com.jk1504.dao.Partymapper">

	<!--发布者发布活动 -->
    <insert id="insertparty" parameterType="com.jk1504.entity.Party" > 
        insert into party(dbid,taskname,taskcontent,num,xingmingrst,stuidrst,qqidrst,phonerst,classrst) value(#{dbid},#{taskname},#{taskcontent},#{num},#{xingmingrst},#{stuidrst},#{qqidrst},#{phonerst},#{classrst})
    </insert>
    
    <!--发布者读取已经发布的活动 -->
    <select id="returnparty"  parameterType="java.lang.Integer"  resultType="com.jk1504.entity.Party"> 
        select * from party where dbid=#{dbid}
    </select>
    
    <!--发布者删除活动-->
    <delete id="deleteparty" parameterType="com.jk1504.entity.Party" > 
        delete  from party where taskid=#{taskid} and dbid=#{dbid}
    </delete>
    <delete id="deletepartybyowner" parameterType="com.jk1504.entity.Party" > 
        delete  from parties where taskid=#{taskid} 
    </delete>

    
    <!--参与者参与活动 -->
    <insert id="insertparties" parameterType="com.jk1504.entity.Joinparty" > 
        insert into parties(dbid,taskid,sfjoinp) value(#{dbid},#{taskid},#{sfjoinp})
    </insert>
    
    <update id="inupdateparties" parameterType="java.lang.Integer">
    	update party set numnow = numnow +1 where taskid=#{taskid} and numnow  &lt; num
    </update>
    
    <!--完成者删除自己的提交 -->
    <delete id="deleteparties" parameterType="com.jk1504.entity.Joinparty" > 
        delete  from parties where taskid=#{taskid} and dbid=#{dbid}
    </delete>
    
    <!-- 当前报名人数减1 -->
    <update id="deupdateparties" parameterType="java.lang.Integer">
    	update party set numnow = numnow -1 where taskid=#{taskid} and numnow  &gt; 0
    </update>
    
    <!--完成者读取发布后活动列表(根据条件) -->
    <select id="returnpartiessx"  parameterType="java.lang.Integer"  resultType="com.jk1504.entity.Party"> 
        select * from party where taskid=#{taskid} 
    </select>
    
    <!-- 返回所有活动 -->
    <select id="returnparties"    resultType="com.jk1504.entity.Party"> 
        select * from party  
    </select>
    
    <!-- 返回是否加入活动 -->
    <select id="sfjoin"  parameterType="com.jk1504.entity.Party"  resultType="com.jk1504.entity.Joinparty"> 
        select * from parties where taskid=#{taskid} and dbid=#{dbid}   
    </select>
</mapper>