<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    id与对应接口的某个对应的方法名一致
    mybatic还有其他标签(如<inert><delete>等)，找本书慢慢学
-->
<mapper namespace="com.jk1504.dao.Tasksmapper">

    <!--发布者发布任务 -->
    <insert id="inserttask" useGeneratedKeys="true" keyProperty="taskid" parameterType="com.jk1504.entity.Tasks" >
        insert into task(dbid,taskname) value(#{dbid},#{taskname})
    </insert>

    <insert id="insertceshi" parameterType="com.jk1504.entity.Ceshi" >
        insert into ceshi(taskid,timujson,qtype,num,errorpercent) value(#{taskid},#{timujson},#{qtype},#{num},#{errorpercent})
    </insert>

    <!--发布者读取已经发布的任务 -->
    <select id="returntask"  parameterType="java.lang.Integer"  resultType="com.jk1504.entity.Tasks">
        select * from task where dbid=#{dbid}
    </select>

    <!--发布者删除任务 -->
    <delete id="deletetask" parameterType="com.jk1504.entity.Tasks" >
        delete  from task where taskid=#{taskid} and dbid=#{dbid}
    </delete>

    <delete id="deleteceshi" parameterType="com.jk1504.entity.Tasks" >
        delete  from ceshi where taskid=#{taskid}
    </delete>

    <delete id="deletetasksbyowner" parameterType="com.jk1504.entity.Tasks" >
        delete  from daan where taskid=#{taskid}
    </delete>


    <!--完成者提交任务 -->
    <insert id="insertdaan" parameterType="com.jk1504.entity.Daan" >
        insert into daan(taskid,stuid,qtime,correctpercent) value(#{taskid},#{stuid},#{qtime},#{correctpercent})
    </insert>

    <select id="returnceshipercent"   parameterType="java.lang.Integer" resultType="com.jk1504.entity.Ceshi">
        select * from ceshi where timuid = #{timuid}
    </select>

    <update id="inupdatetasks" parameterType="com.jk1504.entity.Ceshi">
        update ceshi set num = #{num},errornum = #{errornum},errorpercent = #{errorpercent} where timuid = #{timuid}
    </update>
    <!--完成者删除自己的提交 -->
    <delete id="deletetasks" parameterType="com.jk1504.entity.Daan" >
        delete  from daan where taskid=#{taskid} and dbid=#{dbid}
    </delete>

    <!--完成者读取发布后任务列表 -->

    <select id="returntasks"    resultType="com.jk1504.entity.Tasks">
        select * from task
    </select>
    <select id="returnceshi"    parameterType="com.jk1504.entity.CeshiSearch" resultType="com.jk1504.entity.Ceshi">
        SELECT * FROM ceshi WHERE timuid >= ((SELECT MAX(timuid) FROM ceshi WHERE taskid = #{taskid} and qtype = #{qtype})-(SELECT MIN(timuid) FROM ceshi WHERE taskid = #{taskid} and qtype = #{qtype})) * RAND() + (SELECT MIN(timuid) FROM ceshi WHERE taskid = #{taskid} and qtype = #{qtype})   ORDER BY timuid LIMIT ${num}
    </select>

    <select id="returndaan" parameterType="com.jk1504.entity.Daan" resultType="com.jk1504.entity.Daan">
        select qtime,correctpercent from daan WHENEVER stuid = #{stuid} and taskid = #{taskid}
    </select>

    <!-- 一个任务中次数大于3的获得错误率最高的5个数据-->
    <select id="returnceshitop" parameterType="com.jk1504.entity.Ceshi" resultType="com.jk1504.entity.Ceshi">
        select * from ceshi WHENEVER taskid = #{taskid} and num &gt; 3 ORDER BY errorpercent DESC limit 5
    </select>

    <update id="updatedaan" parameterType="com.jk1504.entity.Daan">
        update daan set qtime = #{qtime},correctpercent = #{correctpercent} where taskid = #{taskid} and stuid = #{stuid}
    </update>

</mapper>