<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.jk1504.dao.Usermapper">

    <insert id="insertuser" parameterType="com.jk1504.entity.User" > 
        insert into user(username,nickname,password,xingming,stuid,imgpath,qqid,phone,monitor,guanzhuliang,userclass) value(#{username},#{nickname},#{password},#{xingming},#{stuid},#{imgpath},#{qqid},#{phone},#{monitor},#{guanzhuliang},#{userclass})
    </insert>



	<select id="returnuser" parameterType="com.jk1504.entity.User" resultType="com.jk1504.entity.User"> 
        select * from user where stuid=#{stuid}
    </select>
    
    <select id="returnbgzz" parameterType="java.lang.Integer" resultType="com.jk1504.entity.simpleUser"> 
        select nickname,imgpath,guanzhuliang from user where dbid=#{dbid}
    </select>
    
    <select id="returnUserId" parameterType="java.lang.Integer" resultType="com.jk1504.entity.Usermsg"> 
        select nickname,imgpath,guanzhuliang,xingming,stuid from user where dbid=#{dbid}
    </select>
    
    <update id="updataimg" parameterType="com.jk1504.entity.User">
    	update user set imgpath = #{imgpath} where dbid=#{dbid}
    </update>
    
    <update id="updatapaswd" parameterType="com.jk1504.entity.User">
    	update user set password = #{password} where dbid=#{dbid}
    </update>
    
    <update id="updatanick" parameterType="com.jk1504.entity.User">
    	update user set nickname = #{nickname} where dbid=#{dbid}
    </update>
</mapper>